.MovieList {
	position: relative;
}

.MovieList-noResultsText {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	text-align: center;
	font-style: italic;
	font-size: 1.5em;
	line-height: 100px;
}

.MovieList-list {
	transition: opacity 300ms ease-in;
}

.MovieList-list.fadeIn-enter {
	opacity: 0;
}

.MovieList-list.fadeIn-enter-active {
	opacity: 1;
}

.MovieList-list.fadeIn-leave {
	opacity: 1;
}

.MovieList-list.fadeIn-leave-active {
	opacity: 0;
}